<div class="card mx-2 my-4">
  <header class="card-header">
    <p class="card-header-title has-text-primary">
      Markers Info
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <table>
        <tbody>
          <tr *ngFor="let marker of markers">
            <td>{{marker}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <footer class="card-footer">
    <a (click)="cleanMarkers()" id="clean-button" class="card-footer-item">Clean all marks</a>
  </footer>
</div>