@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,900;1,200;1,400;1,600;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    margin: 0;
    --text-color: #323232;
}